<!DOCTYPE html>
<html>

<head>
    <title>
        {% block head_title %}
        {% endblock %}
    </title>
</head>

<body>
    <header>
        <li>
            {% if user.is_authenticated %}
            <span>{{ user.username }}</span>
            <a href="{% url 'account_logout' %}">
                Выход
            </a>
            {% else %}
            <a href="{% url 'account_login' %}">
                Вход
            </a>
            <a href="{% url 'account_signup' %}">
                Регистрация
            </a>
            {% endif %}
        </li>

    </header>
    {% block content %}
    {% endblock %}
</body>

</html>