{% extends 'products/base.html' %}
{% load static %}
{% comment %} {% load mptt_tags %} {% endcomment %}



{% block content %}

<h2>
  <li>
    <a href="/">Главная</a>
  </li>
</h2>



{% comment %} <ul>
    {% recursetree category %}
        <li>
            <a href="/category/{{ node.slug }}/">{{ node.title }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    <a href="/category/{{ node.slug }}">{{ children }}</a>
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul> {% endcomment %}

<br>
<div class="text-center">
  <h2>{{instance.name}}</h2>
</div>



{% if instance.children.all %}
  <h4>Подкатегории</h4>
    <li>{{ instance }}</li>
    {% for i in instance.children.all %}
      <ul>  
        <li><a href="{{ i.slug }}"> {{ i.title }} </a><br></li>
      </ul>
      {% endfor %}

  <br>
  <hr>
{% endif %}

  {% if instance.post_set.all %}
    <h1>Товары</h1>
    {% for i in instance.post_set.all %}
    <h2>{{ i }}</h2>
    <div class="row small-up-1 medium-up-3">
      <div class="column">
        <a href="{{ i.slug }}">
          <div class="card" style="width: 300px; border-color: black">
            {% comment %} <div class="card-divider">
              <strong>{{ i.title | truncatechars:30}}</strong>
            </div> {% endcomment %}

            <img src="{{ i.image.url }}" height="200" , width="200">
            
            <p>Стоимость {{ i.price }}$<p>

            <div class="card-section">
              <small>{{ i.created_at}} </small>
              <p>{{ i.content | safe | truncatechars_html:120 }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
  {% else %}
      <h4>Пусто</h4>
  {% endif %}

    </div>
    {% endblock %}