<!DOCTYPE html>
{% load mptt_tags %}


<head>
  <title>Online Store</title>
</head>

<body>
  <h1>
    Главная страница
  </h1>

  <header>
    <li>
      {% if user.is_authenticated %}
      <span>{{ user.username }}</span>
      <a href="{% url 'account_logout' %}">
        Выход
      </a>
      {% else %}
      <a href="{% url 'account_login' %}">
        Вход
      </a>
      <a href="{% url 'account_signup' %}">
        Регистрация
      </a>
      {% endif %}
    </li>

  </header>


  <ul>
    {% recursetree category %}
    <li>
      <a href="/category/{{ node.slug }}/">{{ node.title }}</a>
      {% if not node.is_leaf_node %}
      <ul class="children">
        <a href="/category/{{ node.slug }}">{{ children.slug }}</a>
      </ul>
      {% endif %}
    </li>
    {% endrecursetree %}
  </ul>

  {% if post %}
  <h1>Все товары</h1>
  {% for i in post %}
  <h2>{{ i }}</h2>
  <div class="row small-up-1 medium-up-3">
    <div class="column">
        <div class="card" style="width: 300px; border-color: black">
          {% comment %} <div class="card-divider">
            <strong>{{ i.title | truncatechars:30}}</strong>
          </div> {% endcomment %}

          <img src="{{ i.image.url }}" height="200" , width="200">

          <p>Стоимость {{ i.price }}$
          <p>

          <div class="card-section">
            <small>{{ i.created_at}} </small>
            <p>{{ i.content | safe | truncatechars_html:120 }}</p>
          </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h4>Пусто</h4>
    {% endif %}

</body>