{% comment %} {% load namify %} {% endcomment %}
<div>
    <li>
        <a href="/">Главная</a>
    </li>
</div>

<div class="breadcrumbs">
    <ul class="breadcrumbs">
        
        {% for i in instance.category.get_slug_list %}
                <li> 
                    <a href="/category/{{ i }}">{{ i }}</a>
                </li>
        {% endfor %}

        
    </ul> 
</div>
<br>

<div>
        <p>{{ instance.title }}<p>
        <img src="{{ instance.image.url }}" height="200" , width="200">
        <p>Описание: {{ instance.description }}<p>
        <p>Стоимость {{ instance.price }}$<p>
<div>